.Add-Task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-50);
    color: var(--color-white);
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    padding: 10px 16px;
    gap: 4px;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;
}

.Add-Task:hover,
.Add-Task:focus {
    background-color: var(--primary-70);
    outline: none;
}

.Add-Task:active {
    background-color: var(--primary-20);
}

.Add-Task:disabled {
    background-color: var(--primary-20);
    color: var(--color-grey-300);
    cursor: not-allowed;
    opacity: 0.7;
}

.Add-Task-Icon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.Add-Task.icon-only {
    padding: 8px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    justify-content: center;
}

.Outline-Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--grey-50);
    font-size: 12px;
    font-weight: 500;
    border: 1px solid var(--grey-30);
    border-radius: 12px;
    padding: 10px 16px;
    gap: 4px;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
}

.Outline-Button:hover,
.Outline-Button:focus {
    background-color: var(--primary-50);
    color: var(--color-white);
    outline: none;
}

.Outline-Button:active {
    background-color: var(--primary-70);
    color: var(--color-white);
}

.Outline-Button:disabled {
    background-color: transparent;
    color: var(--color-grey-300);
    border-color: var(--color-grey-300);
    cursor: not-allowed;
    opacity: 0.7;
}

.Outline-Button-Icon {
    width: 20px;
    height: 20px;
    color: var(--grey-60);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}