:root {
  /* Base */
  --color-background: #F1F5F9;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Primary */
  --primary-0: #E1D9F4;
  --primary-10: #CDBFED;
  --primary-20: #B49FE4;
  --primary-30: #9B80DB;
  --primary-40: #8260D2;
  --primary-50: #6940C9;
  --primary-60: #5735A7;
  --primary-70: #462B86;
  --primary-80: #342064;
  --primary-90: #231543;
  --primary-100: #150D28;

  /* Grey */
  --grey-0: #F8FAFC;
  --grey-10: #F1F5F9;
  --grey-20: #E2E8F0;
  --grey-30: #CBD5E1;
  --grey-40: #D1D5DB;
  --grey-50: #64748B;
  --grey-60: #475569;
  --grey-70: #334155;
  --grey-80: #1E293B;
  --grey-90: #0F172A;
  --grey-100: #020617;

  /* Success */
  --success-50: #3FA668;

  /* Warning */
  --warning-50: #FF7C00;

  /* Error */
  --error-50: #FF0C0C;
}

[data-theme="dark"] {
  --color-background: #1E293B;
  --color-white: #141A1F;
  --color-black: #f3f4f6;

  /* Primary */
  --primary-0: #2d225a;
  --primary-10: #3a2d6d;
  --primary-20: #4a3a8a;
  --primary-30: #5a47a7;
  --primary-40: #6a54c4;
  --primary-50: #7a61e1;
  --primary-60: #8a6efe;
  --primary-70: #a78bfa;
  --primary-80: #c4b5fd;
  --primary-90: #ede9fe;
  --primary-100: #f5f3ff;

  /* Grey */
  --grey-0: #020617;
  --grey-10: #0F172A;
  --grey-20: #1E293B;
  --grey-30: #334155;
  --grey-40: #475569;
  --grey-50: #64748B;
  --grey-60: #94A3B8;
  --grey-70: #CBD5E1;
  --grey-80: #E2E8F0;
  --grey-90: #F1F5F9;
  --grey-100: #F8FAFC;

  /* Success, Warning, Error can stay the same or be changed if you want */
  --success-50: #22c55e;
  --warning-50: #f59e42;
  --error-50: #ef4444;
}
