.notification-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	z-index: 1000;
}

.notification-modal {
	background: var(--color-white);
	color: var(--color-black);
	border-radius: 16px;
	box-shadow: 0 8px 32px rgba(0,0,0,0.25);
	padding: 2rem 1.5rem 1.5rem 1.5rem;
	min-width: 320px;
	max-width: 90vw;
	max-height: 80vh;
	overflow-y: auto;
	position: relative;
    top: 7%;
    left: 71%;
}

.notification-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: transparent;
	border: none;
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
}

.notification-list {
	list-style: none;
	padding: 0;
	margin: 1.5rem 0 0 0;
}

.notification-item {
	padding: 0.75rem 1rem;
	border-bottom: 1px solid #27272a;
}

.notification-empty {
	text-align: center;
	color: #aaa;
	padding: 2rem 0;
}
