/* SignUpForm.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Geist', sans-serif;
  background-color: var(--color-white);
}

.signup-container {
  min-height: 100vh;
  display: flex;
}

.left-panel {
  display: none;
  width: 50%;
  overflow: hidden;
  justify-content: center;
  border-radius: 16px;
  margin: 1rem;
}

.right-panel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form-wrapper {
  width: 100%;
  max-width: 28rem;
}

.header-section {
  text-align: left;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--grey-20);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

.logo-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  font-size: 1.875rem;
  font-weight: 600;
  color: var(--grey-100);
  margin-bottom: 0.3rem;
}

.subtitle {
  color: var(--grey-50);
  font-size: 1rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--grey-100);
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--color-white);
  border: 1px solid var(--grey-10);
  border-radius: 0.5rem;
  font-size: o.8rem;
  outline: none;
}

.form-input:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--primary-50);
  color: var(--color-black);
}

.form-input::placeholder {
  color: var(--grey-50);
}

.form-input:not(:placeholder-shown) {
  color: var(--color-black);
}

.Password-icon {
  width: 20px;
  height: 20px;
  color: var(--grey-40);
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--primary-10);
  color: var(--primary-50);
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: var(--primary-20);
}

.divider {
  margin: 1.5rem 0;
  text-align: center;
}

.divider-text {
  color: var(--grey-50);
  font-size: 0.875rem;
}

.social-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  background-color: var(--color-white);
  border: 1px solid var(--grey-10);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
}

.social-button:hover {
  background-color: var(--grey-10);
}

.social-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}


.social-text {
  color: var(--grey-100);
  font-weight: 500;
}

.login-link {
  margin-top: 1.5rem;
  text-align: center;
  color: var(--grey-50);
  font-size: 0.875rem;
}

.login-link a {
  color: var(--primary-50);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
}

.login-link a:hover {
  color: var(--primary-50);
}

/* Responsive Design */
@media (min-width: 1024px) {
  .left-panel {
    display: flex;
  }

  .right-panel {
    width: 50%;
  }
}

@media (max-width:767px) {

  .right-panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
  }

  .header-section {
    margin-bottom: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .logo-container {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.8rem;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }

  .subtitle {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .form-fields {
    gap: 1rem;
  }

  form-label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--grey-100);
    margin-bottom: 0.5rem;
  }

  .form-input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid var(--grey-10);
    border-radius: 0.5rem;
    font-size: 0.8rem;
  }

  .form-input:focus {
    box-shadow: 0 0 0 1px var(--primary-50);
  }


  .Password-icon {
    width: 16px;
    height: 16px;
  }

  .submit-button {
    padding: 0.65rem;
    font-weight: 500;
    font-size: 0.8rem;
    border-radius: 0.4rem;
  }

  .divider {
    margin: 1rem 0;
  }

  .divider-text {
    font-size: 0.8rem;
  }

  .social-buttons {
    gap: 0.5rem;
  }

  .social-button {
  padding: 0.5rem;
  background-color: var(--color-white);
  border: 1px solid var(--grey-10);
  font-size: 0.8rem;
}

.social-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.login-link {
  margin-top: 1rem;
  font-size: 0.6rem;
}

}


/* Or, if you use [data-theme="dark"]: */
[data-theme="dark"] .apple-icon {
  filter: brightness(0) invert(1);
}