.teams-page {
    display: flex;
    min-height: 100vh;
    background-color: var(--color-white);
    padding: 0.8rem;
    gap: 1rem;
}

.teams-content {
    flex: 1;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
}

.h2 {
    font-size: 20px;
    font-weight: 400;
}

.team-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.top-buttons {
    display: flex;
    gap: 0.5rem;
}